.azulSura{
    background-color: #0e1a9d;
}

.amarilloSura{
    background-color: #e3e829;
}

.azulSura2{
    background-color: #4ec3e0;
}

.bannersura{
    
    background-image: url('../img/banner.webp');
    background-position: top center;
    background-size: cover;
    padding: 20%;
    background-attachment: fixed;
}
.bannersura2{
    
    background-image: url('../img/banner.jpg');
    background-position: top center;
    background-size: cover;
    padding: 20%;
    background-attachment: fixed;
}